<h1>Mis solicitudes</h1>

<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Producto</th>
      <th>Npro</th>
      <th>Direccion</th>
      <th>Email</th>
      <th>Estado</th>
      <th>Tiposoli</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
        <% if current_user.id == request.idus %>
      <tr>
        <td><%= request.nombre %></td>
        <td><%= request.producto %></td>
        <td><%= request.npro %></td>
        <td><%= request.direccion %></td>
        <td><%= request.email %></td>
        <td><%= estados(request.estado) %></td>
        <td><%= tipo(request.tiposoli) %></td>
        <td><%= button_to 'Ver', request, method: :get ,class: "btn btn-default btn-sm"  %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @requests, renderer: BootstrapPagination::Rails %>
<br>
<div class="btn-group">
     <a href="#" class="btn btn-default disabled"><b>Cantidad:</b> <span class="badge"> <%= @requests.count %></span></a>
    <a href="<%=  index_misrequests_path %>" class="btn btn-default">Asignadas</a>
    <a href="<%=  index_aceptados_path %>" class="btn btn-default">Ver aceptadas</a>
    <a href="<%=  index_rechazados_path %>" class="btn btn-default">Ver rechazadas</a>
</div>